<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<h1>Form Edit</h1>
<a th:href="@{/uas}">Back To List Customer</a>
<form method="POST" th:action="@{/uas/update/{id}(id=${Customer.id})}" th:object="${Customer}">
    <p>Id_Customer : <input type="text" readonly th:field="*{id}" placeholder="Id_Customer"></p>
    <p>Nama_Customer : <input type="text" th:field="*{namaCustomer}" placeholder="Nama_Customer"></p>
    <p>Tanggal_Lahir : <input type="date" th:field="*{tanggalLahir}" placeholder="Tanggal_Lahir"></p>
    <p>Nomor_Telepon : <input type="text" th:field="*{nomorTelepon}" placeholder="Nomor_Telepon"></p>
    <p><input type="submit" th:value="Submit"></p>
</form>
</body>
</html>