<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert Customer</title>
</head>
<body>
<h1>Form Insert</h1>
<a th:href="@{/uas}">Back To List Customer</a>
<form method="POST" th:action="@{/uas/insert}" th:object="${Customer}">
    <input type="hidden" th:field="*{id}">
    <p>Nama_Pelanggan : <input type="text" th:field="*{namaCustomer}" placeholder="Nama_Customer"></p>
    <p>Tanggal_Lahir : <input type="date" th:field="*{tanggalLahir}" placeholder="Tanggal_Lahir"></p>
    <p>Nomor_Telepon : <input type="text" th:field="*{nomorTelepon}" placeholder="Nomor_Telepon"></p>
    <p><input type="submit" th:value="Submit"></p>
</form>
</body>
</html>