<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>List Pelanggan</title>
</head>
<body>
<h1>List Customer</h1>
<a th:href="@{/uas/insert}">Add</a>

<fieldset>
    <table>
        <thead>
        <tr>
            <th>Nama Customer</th>
            <th>Tanggal Lahir</th>
            <th>Nomor Telepon</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Customer : ${Customer}">
            <td><span th:text="${Customer.getNamaCustomer()}"> </span></td>
            <td><span th:text="${#dates.format(Customer.getTanggalLahir(),'dd MMM yyy')}"> </span></td>
            <td><span th:text="${Customer.getNomorTelepon()}"> </span></td>
            <td><a th:href="@{/uas/edit/{id}(id=${Customer.id})}">EDIT</a></td>
            <td><a th:href="@{/uas/delete/{id}(id=${Customer.id})}">DELETES</a></td>
        </tr>
        </tbody>
    </table>
</fieldset>
</body>
</html>